@import "~assets/stylus/variable"

.list-item
  display: flex
  margin: 1.5% 0
  padding: 3% 4%
  width: 100%
  border-radius: 3px
  box-sizing: border-box
  background: $color-background-l
  em
    flex: 1
    margin-right: 20px
    line-height: 1.2em
    font-size: $font-size-large-s

.list-wrapper
  padding: 1.5%
  background: $color-background
  .list-editors
    padding: 10px 5px;
    span
      display: inline-block;
      position: relative
      height: 30px
      em
        position: absolute
        top: 50%
        transform: translate3d(0, -50%, 0)
      img
        margin-left: 50px
    img
      display: inline-block
      margin-left 10px
      width: 30px
      height: 30px
      border-radius: 50%
  .list-date
    padding: 10px 5px;
    color: $color-text-l
    font-size: $font-size-medium
  .list-item__without-img
    @extend .list-item
  .list-item__with-img
    @extend .list-item
    height: 90px
    img
      flex: 0 0 70px
      width: 70px