@import "~assets/stylus/variable"

.header
  position: fixed
  top: 0
  right: 0
  left: 0
  width: 100%
  height: 50px
  background: $color-theme
  color: $color-text-ll
  z-index: 99;
  .left-content
    position: absolute
    top: 0
    left: 18px
    height: 50px;
    line-height: 50px
    font-size: 20px
    i
      position: absolute
      top: 12px
      font-size: 28px
    em
      margin-left: 40px
  .right-content
    position: absolute
    top: 0
    right: 18px
    height: 50px;
    line-height: 50px
    i
      position: relative
      top: 3px
      font-size: 26px
    em
      margin-right: 20px