@import "~assets/stylus/variable";

.loading
  width: 100%
  height: 100%
  text-align: center
  z-index: $z-index-top
  .desc
    // 防止其他css的干扰
    margin: 10px 0 0 !important
    font-size: $font-size-medium !important
    color: $color-text-l !important