@import "~assets/stylus/variable"

.scroll-wrapper
  position: fixed
  top: 50px
  bottom: 0
  width: 100%
  background: $color-background
  .slider-wrapper
    position: relative
    padding-top: 61%
    width: 100%
    height: 0
    overflow: hidden
    .slider-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .list-loading
    display: none

.loading-wrapper
  position: absolute
  width: 100%
  top: 50%
  transform: translateY(-50%)

.sidebar-wrapper
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, 0.3)
  z-index: $z-index-medium
